<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Pig Latinizer!</title>
  </head>
  <body>
    <h1>And here is your Pig Latin...</h1>
  
  	<h2> <%= PigLatinizer.new.to_pig_latin(@phrase) %></h2>


  </body>
</html>